
/* 负边距的效果。注意左右负边距表现并不一致。左为负时，是左移，右为负时，是左拉。上下与左右类似 */
.margin-con .left{
	margin-left: -50px;
	margin-right: -50px;
	margin-top: -50px;
	margin-bottom: -50px;
}

.margin-con div{
	float: left;
	background:#00ffff;
	width: 100px;
	height: 100px;
	margin:  3px;
	border:  2px solid sliver;
}

.margin-con{
	margin-top: 200px;
	margin-left: 200px;
	display: inline-block;
	padding: 3px;
	border:  2px dotted black;
	clear:  both;
}